<nav class="navbar">
  <div class="container">
    <div class="ui-g">
      <div class="ui-g-12">
		    <a href="javascript:;" class="navbar-toggle" (click)="exibindoMenu = !exibindoMenu"><i class="pi pi-bars"></i></a>
      </div>
    </div>
  </div>

  <ul class="navbar-menu" [hidden]="!exibindoMenu">
    <li class="navbar-user">Murilo Gustavo</li>
    <li class="navbar-menuitem" routerLinkActive="ativo"><a routerLink="/lancamentos"><i class="pi pi-dollar"></i> Lançamentos</a></li>
    <li class="navbar-menuitem" routerLinkActive="ativo"><a routerLink="/pessoas"><i class="pi pi-users"></i> Pessoas</a></li>
    <li class="navbar-menuitem" routerLinkActive="ativo"><a href="#"><i class="pi pi-sign-out"></i> Logout</a></li>
  </ul>
</nav>
